<h2>Swarm: <%= @swarm.name %></h2>

<h3>Services</h3>
<%= render partial: 'swarm_service', collection: @swarm.services %>

<h3>Nodes</h3>
<%= render partial: 'swarm_node', collection: @swarm.nodes %>
